:root{

    --bg:green;
    --font-color:red;
    --size:40px;
    --font-weight:600;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    background: #fff;
}

/* Header */
header {
    background-color: var(--bg);
    font-size: var(--size);
    font-weight: var(--font-weight);
    color:var(--font-color);
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav {
    background: #555;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background: #333;
}

/* Main Layout */
main {
    display: flex;
    padding: 20px;
}

/* Content */
.content {
    flex: 3;
    padding: 20px;
}

/* Sidebar */
.sidebar {
    flex: 1;
   background-color: var(--bg);
   font-size: var(--size);
   font-weight: var(--font-weight);
   color: var(--font-color);
    padding: 20px;
}

/* Footer */
footer {
    background-color: var(--bg);
    color:var(--font-color);
    font-size: var(--size);
    font-weight: var(--font-weight);
    padding: 10px;
}